{% extends "email_base.html" %}
{% block title %}पासवर्ड रिसेट{% endblock %}
{% block heading %}पासवर्ड रिसेट{% endblock %}
{% block message %}
        <h4> प्रिय, {{ full_name }} !</h4>
        तपाईंले आफ्नो पासवर्ड रिसेट गर्न अनुरोध गर्नुभएको छ। तपाईंको पासवर्ड रिसेट गर्न बटनमा क्लिक गर्नुहोस्
        <div class="center" style="margin-top: 10px; margin-bottom: 20px">
            <a class="button" href="{{ reset_link }}"  style="color: rgb(255, 255, 255)">
                पासवर्ड रिसेट </a>
        </div>
        <p>
            वा यो लिङ्क प्रयोग गरी रिसेट गर्नुहोस् : <a
                href="{{ reset_link }}">{{ reset_link }}</a>
        </p>
        <p>
            <small class="disp--block">
                यदि तपाईंले आफ्नो पासवर्ड परिवर्तन गर्न अनुरोध गर्नुभएको छैन भने, तपाईं यस सन्देशलाई बेवास्ता गर्न सक्नुहुनेछ।
            </small>
        </p>
{% endblock %}

{% block footer_content %}
        <h4>सहयोग चाहियो ?</h4>
        <p>कृपया realhrsoft@gmail.com लाई कुनै प्रतिक्रिया वा बग प्रतिवेदन पठाउनुहोस्</p>
        <hr/>
        <p>गणपति भवन , मिन भवन , मुख्य सडक , काठमाडौं नेपाल</p>
        <p>+९७७  १४१०६७०० </p>
        <p>info@realhrsoft.com</p>
{% endblock %}